<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>000</key>
<dict>
<key>id</key>
<string>000</string>
<key>country</key>
<string>アメリカ</string>
<key>continentTop</key>
<string>北アメリカ</string>
<key>continentSub</key>
<string>北アメリカ</string>
<key>red</key>
<string>248</string>
<key>green</key>
<string>49</string>
<key>blue</key>
<string>98</string>
</dict>
<key>100</key>
<dict>
<key>id</key>
<string>100</string>
<key>country</key>
<string>カナダ</string>
<key>continentTop</key>
<string>北アメリカ</string>
<key>continentSub</key>
<string>北アメリカ</string>
<key>red</key>
<string>248</string>
<key>green</key>
<string>49</string>
<key>blue</key>
<string>98</string>
</dict>
<key>200</key>
<dict>
<key>id</key>
<string>200</string>
<key>country</key>
<string>ジャマイカ</string>
<key>continentTop</key>
<string>中南米</string>
<key>continentSub</key>
<string>中南米</string>
<key>red</key>
<string>246</string>
<key>green</key>
<string>49</string>
<key>blue</key>
<string>241</string>
</dict>
<key>210</key>
<dict>
<key>id</key>
<string>210</string>
<key>country</key>
<string>グアテマラ</string>
<key>continentTop</key>
<string>中南米</string>
<key>continentSub</key>
<string>中南米</string>
<key>red</key>
<string>246</string>
<key>green</key>
<string>49</string>
<key>blue</key>
<string>241</string>
</dict>
<key>220</key>
<dict>
<key>id</key>
<string>220</string>
<key>country</key>
<string>パラグアイ</string>
<key>continentTop</key>
<string>中南米</string>
<key>continentSub</key>
<string>中南米</string>
<key>red</key>
<string>246</string>
<key>green</key>
<string>49</string>
<key>blue</key>
<string>241</string>
</dict>
<key>230</key>
<dict>
<key>id</key>
<string>230</string>
<key>country</key>
<string>チリ</string>
<key>continentTop</key>
<string>中南米</string>
<key>continentSub</key>
<string>中南米</string>
<key>red</key>
<string>246</string>
<key>green</key>
<string>49</string>
<key>blue</key>
<string>241</string>
</dict>
<key>300</key>
<dict>
<key>id</key>
<string>300</string>
<key>country</key>
<string>フランス</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>310</key>
<dict>
<key>id</key>
<string>310</string>
<key>country</key>
<string>イギリス</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>330</key>
<dict>
<key>id</key>
<string>330</string>
<key>country</key>
<string>スペイン</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>340</key>
<dict>
<key>id</key>
<string>340</string>
<key>country</key>
<string>ポルトガル</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>350</key>
<dict>
<key>id</key>
<string>350</string>
<key>country</key>
<string>ドイツ</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>360</key>
<dict>
<key>id</key>
<string>360</string>
<key>country</key>
<string>スイス</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>370</key>
<dict>
<key>id</key>
<string>370</string>
<key>country</key>
<string>ポーランド</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>380</key>
<dict>
<key>id</key>
<string>380</string>
<key>country</key>
<string>ハンガリー</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>390</key>
<dict>
<key>id</key>
<string>390</string>
<key>country</key>
<string>オランダ</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>400</key>
<dict>
<key>id</key>
<string>400</string>
<key>country</key>
<string>スペイン</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>410</key>
<dict>
<key>id</key>
<string>410</string>
<key>country</key>
<string>クロアチア</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>420</key>
<dict>
<key>id</key>
<string>420</string>
<key>country</key>
<string>ベルギー</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>430</key>
<dict>
<key>id</key>
<string>430</string>
<key>country</key>
<string>イタリア</string>
<key>continentTop</key>
<string>ヨーロッパ</string>
<key>continentSub</key>
<string>ヨーロッパ</string>
<key>red</key>
<string>16</string>
<key>green</key>
<string>107</string>
<key>blue</key>
<string>20</string>
</dict>
<key>500</key>
<dict>
<key>id</key>
<string>500</string>
<key>country</key>
<string>タンザニア</string>
<key>continentTop</key>
<string>アフリカ</string>
<key>continentSub</key>
<string>アフリカ</string>
<key>red</key>
<string>255</string>
<key>green</key>
<string>193</string>
<key>blue</key>
<string>37</string>
</dict>
<key>510</key>
<dict>
<key>id</key>
<string>510</string>
<key>country</key>
<string>エジプト</string>
<key>continentTop</key>
<string>アフリカ</string>
<key>continentSub</key>
<string>アフリカ</string>
<key>red</key>
<string>255</string>
<key>green</key>
<string>193</string>
<key>blue</key>
<string>37</string>
</dict>
<key>700</key>
<dict>
<key>id</key>
<string>700</string>
<key>country</key>
<string>中国</string>
<key>continentTop</key>
<string>アジア（北〜東〜東南アジア）</string>
<key>continentSub</key>
<string>東アジア</string>
<key>red</key>
<string>42</string>
<key>green</key>
<string>37</string>
<key>blue</key>
<string>255</string>
</dict>
<key>710</key>
<dict>
<key>id</key>
<string>710</string>
<key>country</key>
<string>台湾</string>
<key>continentTop</key>
<string>アジア（北〜東〜東南アジア）</string>
<key>continentSub</key>
<string>東アジア</string>
<key>red</key>
<string>42</string>
<key>green</key>
<string>37</string>
<key>blue</key>
<string>255</string>
</dict>
<key>800</key>
<dict>
<key>id</key>
<string>800</string>
<key>country</key>
<string>カンボジア</string>
<key>continentTop</key>
<string>アジア（北〜東〜東南アジア）</string>
<key>continentSub</key>
<string>東南アジア</string>
<key>red</key>
<string>42</string>
<key>green</key>
<string>37</string>
<key>blue</key>
<string>255</string>
</dict>
<key>810</key>
<dict>
<key>id</key>
<string>810</string>
<key>country</key>
<string>タイ</string>
<key>continentTop</key>
<string>アジア（北〜東〜東南アジア）</string>
<key>continentSub</key>
<string>東南アジア</string>
<key>red</key>
<string>42</string>
<key>green</key>
<string>37</string>
<key>blue</key>
<string>255</string>
</dict>
<key>820</key>
<dict>
<key>id</key>
<string>820</string>
<key>country</key>
<string>フィリピン</string>
<key>continentTop</key>
<string>アジア（北〜東〜東南アジア）</string>
<key>continentSub</key>
<string>東南アジア</string>
<key>red</key>
<string>42</string>
<key>green</key>
<string>37</string>
<key>blue</key>
<string>255</string>
</dict>
<key>830</key>
<dict>
<key>id</key>
<string>830</string>
<key>country</key>
<string>インドネシア</string>
<key>continentTop</key>
<string>アジア（北〜東〜東南アジア）</string>
<key>continentSub</key>
<string>東南アジア</string>
<key>red</key>
<string>42</string>
<key>green</key>
<string>37</string>
<key>blue</key>
<string>255</string>
</dict>
<key>900</key>
<dict>
<key>id</key>
<string>900</string>
<key>country</key>
<string>ネパール</string>
<key>continentTop</key>
<string>アジア（中央〜南〜西アジア）</string>
<key>continentSub</key>
<string>南アジア</string>
<key>red</key>
<string>39</string>
<key>green</key>
<string>162</string>
<key>blue</key>
<string>255</string>
</dict>
<key>1100</key>
<dict>
<key>id</key>
<string>1100</string>
<key>country</key>
<string>キルギス</string>
<key>continentTop</key>
<string>アジア（中央〜南〜西アジア）</string>
<key>continentSub</key>
<string>中央アジア</string>
<key>red</key>
<string>39</string>
<key>green</key>
<string>162</string>
<key>blue</key>
<string>255</string>
</dict>
<key>1200</key>
<dict>
<key>id</key>
<string>1200</string>
<key>country</key>
<string>トルコ</string>
<key>continentTop</key>
<string>アジア（中央〜南〜西アジア）</string>
<key>continentSub</key>
<string>西アジア</string>
<key>red</key>
<string>39</string>
<key>green</key>
<string>162</string>
<key>blue</key>
<string>255</string>
</dict>
<key>1300</key>
<dict>
<key>id</key>
<string>1300</string>
<key>country</key>
<string>オーストラリア</string>
<key>continentTop</key>
<string>オーストラリア・オセアニア</string>
<key>continentSub</key>
<string>オーストリア</string>
<key>red</key>
<string>28</string>
<key>green</key>
<string>190</string>
<key>blue</key>
<string>34</string>
</dict>
<key>1310</key>
<dict>
<key>id</key>
<string>1310</string>
<key>country</key>
<string>ニュージーランド</string>
<key>continentTop</key>
<string>オーストラリア・オセアニア</string>
<key>continentSub</key>
<string>オセアニア</string>
<key>red</key>
<string>28</string>
<key>green</key>
<string>190</string>
<key>blue</key>
<string>34</string>
</dict>
</dict>
</plist>