<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>北アメリカ</key>
<dict>
<key>country</key>
<string>アメリカ</string>
</dict>
<key>北アメリカ</key>
<dict>
<key>country</key>
<string>カナダ</string>
</dict>
<key>中南米</key>
<dict>
<key>country</key>
<string>ジャマイカ</string>
</dict>
<key>中南米</key>
<dict>
<key>country</key>
<string>グアテマラ</string>
</dict>
<key>中南米</key>
<dict>
<key>country</key>
<string>パラグアイ</string>
</dict>
<key>中南米</key>
<dict>
<key>country</key>
<string>チリ</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>フランス</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>イギリス</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>スペイン</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>ポルトガル</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>ドイツ</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>スイス</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>ポーランド</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>ハンガリー</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>オランダ</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>スペイン</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>クロアチア</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>ベルギー</string>
</dict>
<key>ヨーロッパ</key>
<dict>
<key>country</key>
<string>イタリア</string>
</dict>
<key>アフリカ</key>
<dict>
<key>country</key>
<string>タンザニア</string>
</dict>
<key>アフリカ</key>
<dict>
<key>country</key>
<string>エジプト</string>
</dict>
<key>アジア（北〜東〜東南アジア）</key>
<dict>
<key>country</key>
<string>中国</string>
</dict>
<key>アジア（北〜東〜東南アジア）</key>
<dict>
<key>country</key>
<string>台湾</string>
</dict>
<key>アジア（北〜東〜東南アジア）</key>
<dict>
<key>country</key>
<string>カンボジア</string>
</dict>
<key>アジア（北〜東〜東南アジア）</key>
<dict>
<key>country</key>
<string>タイ</string>
</dict>
<key>アジア（北〜東〜東南アジア）</key>
<dict>
<key>country</key>
<string>フィリピン</string>
</dict>
<key>アジア（北〜東〜東南アジア）</key>
<dict>
<key>country</key>
<string>インドネシア</string>
</dict>
<key>アジア（中央〜西〜南アジア）</key>
<dict>
<key>country</key>
<string>ネパール</string>
</dict>
<key>アジア（中央〜西〜南アジア）</key>
<dict>
<key>country</key>
<string>キルギス</string>
</dict>
<key>アジア（中央〜西〜南アジア）</key>
<dict>
<key>country</key>
<string>トルコ</string>
</dict>
<key>オーストラリア・オセアニア</key>
<dict>
<key>country</key>
<string>オーストラリア</string>
</dict>
<key>オーストラリア・オセアニア</key>
<dict>
<key>country</key>
<string>ニュージーランド</string>
</dict>
</dict>
</plist>